.empty {
	font-family: monospace;
	font-size: 1.6rem;
	text-align: center;
	padding: 1rem;
	border: 1px solid black;
}

.end_container {
	margin-top: 1.2rem;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: flex-end;
}
.total {
	font-family: sans-serif;
	flex: 1;
}
.close_btn {
	flex-basis: 20%;
	padding: 0.5rem 0;
	border: none;
	box-shadow: 1px 2px 2px grey;
	color: #2f3542;
}
.close_btn:hover {
	cursor: pointer;
	background-color: #dbdbdb;
}

.order_btn {
	box-shadow: 1px 2px 2px grey;
	padding: 0.5rem 0;
	flex-basis: 20%;
	background-color: #fa8231;
	border: none;
	color: white;
}
.order_btn:hover {
	background-color: #ff6600;
	cursor: pointer;
}

@media (max-width: 768px) {
	.empty {
		font-size: 1.2rem;
	}
	.order_btn {
		flex-basis: 24%;
	}
}
