.container {
	display: flex;
	border-bottom: 1px solid black;
	font-family: sans-serif;
	padding: 0.3rem 0;
	margin: 0.2rem 0;
}
.item {
	flex-basis: 80%;
}
.price {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.rate {
	flex: 3;
}
.quantity {
	font-size: 0.8rem;
	border: 1px solid black;
	flex: 1;
	text-align: center;
}
.subtotal {
	flex: 6;
	text-align: center;
}
.btns_container {
	flex-basis: 20%;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.btn_plus {
	font-size: 1.5rem;
	background-color: #2ecc71;
	color: white;
	border: none;
	flex: 1;
}
.btn_plus:hover {
	cursor: pointer;
	background-color: #00af49;
}
.btn_minus {
	font-size: 1.5rem;
	flex: 1;
	background-color: #eb4d4b;
	color: white;
	border: none;
}
.btn_minus:hover {
	cursor: pointer;
	background-color: #db2421;
}

@media (max-width: 768px) {
	.container {
		margin: 0.4rem 0;
	}
	.price {
		gap: 0;
	}
	.rate {
		flex: 2;
	}
	.quantity {
		flex: 1;
		margin: 0.3rem 1rem;
	}
	.subtotal {
		text-align: left;
	}
	.btns_container {
		flex-basis: 30%;
	}
}
