.login_box {
	border: 1px solid black;
	border-radius: 10px;
	padding: 1rem;
}
.login_box h1 {
	text-align: center;
	font-family: fantasy;
	margin-bottom: 1rem;
}

@media (max-width: 768px) {
	.login_box h1 {
		font-size: 1.6rem;
	}
}
