.item {
	list-style: none;
	padding: 0.5rem 0;
	border-bottom: 1px solid black;
	font-family: sans-serif;
	display: flex;
}
.product_details {
	width: 75%;
	/* border: 2px solid red; */
}
.name {
	font-size: 1.8rem;
	padding: 0.4rem 0;
}
.description {
	padding-bottom: 0.5rem;
}
.price {
	color: grey;
	text-decoration-line: line-through;
	margin-right: 0.8rem;
	/* font-size: 1rem; */
}
.rate {
	margin-right: 0.5rem;
	font-size: 1.2rem;
}
.percentage {
	color: #26a541;
}

.item_foam {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.add_btn {
	padding: 0.4rem;
	font-size: 0.8rem;
	background-color: #fb641b;
	color: white;
	border: none;
}
.add_btn:hover {
	cursor: pointer;
	background-color: #d35400;
}
.input {
	width: 80px;
	font-size: 1rem;
	padding: 0.2rem 0.5rem;
	text-align: right;
	-moz-appearance: textfield;
}
.edit {
	cursor: pointer;
	height: 1.5rem;
	width: 1.5rem;
	color: #1dd1a1;
}
.delete {
	cursor: pointer;
	height: 1.5rem;
	width: 1.5rem;
	color: #ee5253;
}
@media (max-width: 800px) {
	/* .product_details {
	} */
	.name {
		font-size: 1.5rem;
	}
	.description {
		font-size: 0.8rem;
	}
	.item_foam {
		flex-direction: column;
	}
}
