.container {
	padding: 2rem;
	display: grid;
	place-items: center;
	gap: 1rem;
}
.container > div {
	border: 2px solid grey;
	border-radius: 10px;
	box-shadow: 2px 4px 8px rgb(156, 156, 156);
	padding: 1rem 2rem;
	min-width: 600px;
}
.title {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
}
.form {
	padding: 1rem 2rem;
}
.addBtn {
	padding: 0.4rem 0.8rem;
	font-size: 0.8rem;
	background-color: #fb641b;
	color: white;
	border: none;
}
.addBtn:hover {
	cursor: pointer;
	background-color: #d35400;
}
.cross {
	cursor: pointer;
	float: right;
	width: 1.5rem;
	height: 1.5rem;
}
@media (max-width: 700px) {
	.container > div {
		min-width: 100%;
		padding: 1rem 0;
	}
}
